<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
       ">

    <mvc:annotation-driven />

    <bean name="placeholder" lazy-init="false"
          class="com.dianping.lion.client.InitializeConfig">
        <property name="propertiesPath" value="config/applicationContext.properties" />
    </bean>

    <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />

    <!-- 启动JSON格式的配置 -->
    <bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
        <!--解决 HttpMediaTypeNotAcceptableException: Could not find acceptable representation -->
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <!--<beans:import resource="classpath:spring/applicationContext-freemarker.xml" ></beans:import>-->
    <!--<beans:import resource="classpath:spring/applicationContext-mybatis.xml" ></beans:import>-->
    <!--<beans:import resource="classpath:spring/applicationContext-service.xml" ></beans:import>-->
</beans>